<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Band Members</title>
  </head>

  <body>
    <main id="app">
      <h1>Membros da Banda</h1>

      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Instrumento</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="member in members">
            <td>{{member.name}}</td>
            <td>{{member.lastName}}</td>
            <td>{{member.instrument}}</td>
          </tr>
        </tbody>
      </table>

      <section class="add-more">
        <p>Adicionar membros</p>
        <form>
          <label for="name">Nome:</label><br />
          <input type="text" id="name" name="name" v-model="form.name" /><br />

          <label for="lastName">Sobrenome:</label><br />
          <input
            type="text"
            id="lastName"
            name="lastName"
            v-model="form.lastName"
          /><br />

          <label for="instrument">Instrumento:</label><br />
          <select name="instrument" id="instrument" v-model="form.instrument">
            <option value="Baixo">Baixo</option>
            <option value="Guitarra">Guitarra</option>
            <option value="Violão">Violão</option>
            <option value="Bateria">Bateria</option>
          </select>
          <br /><br />
          <input type="button" value="Adicionar" @click="add" />
        </form>
      </section>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const handlingForms = {
        data() {
          return {
            members: [],
            form: {
              name: null,
              lastName: null,
              instrument: null,
            },
          };
        },
        methods: {
          add() {
            if (
              !this.form.name ||
              !this.form.lastName ||
              !this.form.instrument
            ) {
              alert("fill in all fields");
              return;
            }
            this.members.push(this.form);
            this.form = {};
          },
        },
      };

      Vue.createApp(handlingForms).mount("#app");
    </script>
  </body>
</html>
